.red {
    color:red;
}

.form {
    padding: 100px;
    float: none;
}

#login_button {
    margin-right: 10px;
}

#login {
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#login_input  {
    padding-top: 2px;
	padding-bottom: 2px;
}

#search {
    margin-left: auto;
    margin-right: auto;
}

table, td {
	border: 1px #70b8ff solid;
    position: relative;
}

#planofstudy {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: 7px 7px 8px #696969;
    -moz-box-shadow: 7px 7px 8px #696969;
    box-shadow: 7px 7px 8px #696969;
    border: 0px solid #000000;
    background-image: -moz-linear-gradient(left, #C0C0C0, #696969);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #C0C0C0), color-stop(1.0, #696969));
    padding: 11px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13pt;
    color: #000000;
    text-align: left;
    margin: 10px;
}

/*#navbar {*/
    /*width:85%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-radius: 25px;*/
    /*border-color: blue;*/
    /*border-width: 2px;*/
/*}*/

#container {
    width:75%;
}

#jumbotron {
    background-color: transparent;
}

.navbarcontain {
    position: relative;
    top: 10px;
}
