{% extends 'base.html' %}
{% load staticfiles %}

{%  block title %}University API{%  endblock %}

{% block content %}
    <div class="container" id="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron" id="jumbotron">
                    <h2 class="red">
                        The University API Project
                    </h2>
                    <p>
                       This website will be designed to help students organize, and map out the classes they need to meet
                        their graduation requirements.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="/accounts/register">Create Account</a>
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h2>
                            Features:
                        </h2>
                        <ol>
                            <li>Create and maintain a plan of study</li>
                            <li>View classes, programs, courses</li>
                            <li>Upload transcripts for easy access</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>